@page "{teamId:int}"
@model GoalManager.Web.Pages.GoalManagement.TeamGoalsModel
<h1 class="bg-info text-white mb-2 p-1">@Model.Year goals</h1>
<alert-messages error-messages="Model.ErrorMessages" success-messages="Model.SuccessMessages"></alert-messages>
@if (Model.GoalSet != null)
{
    <div class="d-flex justify-content-end">
        <a asp-page="AddGoal" asp-route-goalSetId="@Model.GoalSet.Id" class="btn btn-primary mb-2">Add Goal</a>
    </div>

    <div class="list-group">
        @foreach (var goal in Model.GoalSet.Goals)
        {
            <a href="#" class="list-group-item list-group-item-action">
                <h5 class="mb-1">@goal.Title</h5>
                <p class="mb-1">
                    <span class="me-1"><strong>Goal Type:</strong> @goal.GoalType.Name</span>
                </p>
                <p class="mb-1">
                    <span class="me-1"><strong>Value Type:</strong> @goal.GoalValue.GoalValueType.Name</span>
                    <span class="me-1"><strong>Min Value:</strong> @goal.GoalValue.MinValue</span>
                    <span class="me-1"><strong>Mid Value:</strong> @goal.GoalValue.MidValue</span>
                    <span class="me-1"><strong>Max Value:</strong> @goal.GoalValue.MaxValue</span>
                </p>
            </a>
        }
    </div>
}
